<div *ngIf="error" class="error">
  <p>Упс...Что-то пошло не так</p>
  <ul>
    <li>1. Возможно пользователь с таким login уже существует</li>
    <li>2. Или наш сервер временно не работает</li>
    <li><a (click)="resetEror()">Попробуйте еще раз</a></li>
  </ul>
</div>
<div *ngIf="successfulRegistr" class="auth">
  Регистрация прошла успешно.
  <a routerLink="/auth">Авторизироваться</a>
</div>
<div *ngIf="!successfulRegistr && !error" class="form">
  <p class="auth">Регистрация</p>
  <form [formGroup]="form" (ngSubmit)="sumbit()">
    <div
      class="validators"
      *ngIf="form.get('login')?.invalid && form.get('login')?.touched"
    >
      <small *ngIf="form.get('login')?.errors?.['required']"
        >Обязательное поле</small
      >
      <small *ngIf="form.get('login')?.errors?.['minlength']"
        >Логин должен быть не меньше 4 символов</small
      >
    </div>
    <input
      class="login"
      type="text"
      placeholder="Логин"
      formControlName="login"
      maxlength="63"
    />
    <div
      class="validators"
      *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
    >
      <small *ngIf="form.get('name')?.errors?.['required']"
        >Обязательное поле</small
      >
      <small *ngIf="form.get('name')?.errors?.['minlength']"
        >Имя должно быть не меньше 4 символов</small
      >
    </div>
    <input
      class="name"
      type="text"
      placeholder="Имя"
      formControlName="name"
      maxlength="63"
    />
    <div
      class="passValidators"
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
    >
      <small *ngIf="form.get('password')?.errors?.['required']"
        >Обязательное поле</small
      >
      <small *ngIf="form.get('logpasswordin')?.errors?.['minlength']"
        >Пароль должен быть не меньше 8 символов</small
      >
    </div>
    <input
      class="pass"
      type="password"
      placeholder="Пароль"
      formControlName="password"
      maxlength="50"
    />

    <button
      [ngClass]="{
        registr: !form.invalid,
        invalid: form.invalid
      }"
      type="submit"
      [disabled]="form.invalid"
    >
      Зарегистрироваться
    </button>
  </form>
</div>
