<div class="main-centralize-container">
  <div class="message" *ngIf="succesDelete">Объявление успешно удалено</div>
  <div *ngIf="!succesDelete">
    <div class="ad-section">
      <div #phonePopup *ngIf="showPhone">
        <app-phone-number
          (hidePhoneNumber)="hidePhoneNumber()"
          [currentAdvert]="currentAdvert"
        ></app-phone-number>
      </div>

      <app-gallery
        *ngIf="currentAdvert"
        [currentAdvert]="currentAdvert"
      ></app-gallery>
      <app-description
        *ngIf="currentAdvert"
        (delete)="showDeleteMessage($event)"
        (showPhoneNumber)="showPhoneNumber()"
        [currentAdvert]="currentAdvert"
      ></app-description>
    </div>
  </div>
</div>
