<div class="main-centralize-container">
  <h3>Объявления по запросу: {{ searchValue }}</h3>
  <div class="main-content-container">
    <app-search-sidebar
      (selectedCategory)="selectedCategory($event)"
      [allCategories]="allCategories"
    ></app-search-sidebar>
    <div class="content-section">
      <app-sorting
        (sortingAdverts)="sortingAdverts($event)"
        [findedAdverts]="numberOfAdverts"
      ></app-sorting>
      <div class="ads">
        <h3 *ngIf="!nothingFinded">
          К сожалению, по вашему запросу ничего не найдено
        </h3>
        <app-ad
          [routerLink]="['/search/ad', ad.id]"
          *ngFor="let ad of ads"
          [ad]="ad"
        ></app-ad>
      </div>
    </div>
  </div>
</div>
