.main-centralize-container {
  min-width: 1296px;
  margin-bottom: 80px;
}

.main-centralize-container h3 {
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #1e293b;
}

.main-content-container {
  display: flex;
  flex-direction: row;
}

.content-section {
  width: 966px;
}

.ads {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -24px;
}

.ads h3 {
  margin-top: 30px;
}
