<div class="settings">
  <h3>Настройки</h3>
  <form action="" method="">
    <div class="container">
      <label>
        <p>Имя</p>
        <input type="text" name="name" />
      </label>
    </div>

    <div class="container">
      <label>
        <p>Номер телефона</p>
        <input type="tel" name="phone" />
      </label>
    </div>

    <br />
    <label>
      <p>Адрес<span>(будет указываться в объявлениях по умолчанию)</span></p>
      <input type="text" placeholder="Не указан" />
    </label>
    <br />
    <button type="submit">Сохранить</button>
  </form>
</div>
