<li class="main-content-ad">
  <div class="img">
    <img
      *ngIf="!ad.imagesIds.length"
      [src]="
        'https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png'
      "
    />
    <img
      *ngIf="ad.imagesIds.length"
      [src]="'http://194.87.237.48:5000/Images/' + ad.imagesIds[0]"
    />
  </div>
  <p class="ad-name">{{ ad.name | titlecase }}</p>
  <p class="ad-price">{{ ad.cost.toLocaleString() }} ₽</p>
  <p class="ad-info">{{ ad.location }}</p>
  <p class="ad-info">{{ ad.createdAt | date : "MMM dd, yyyy 'at' hh:mm a" }}</p>
</li>
