.price-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}

.price-form p {
  width: 100%;
  margin: 0;
}

.price-form input {
  padding: 8px 12px;
  width: 149px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #cbd5e1;
  background: #fff;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-form button {
  width: 306px;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background: #3b82f6;
  border: none;
  cursor: pointer;
}

span {
  color: red;
  font-size: 12px;
}
