.main-centralize-container {
  position: absolute;
  left: 16%;
  z-index: 50;
  display: flex;
  flex-direction: row;
  width: 1296px;
  padding: 40px;
  margin-top: -32px;
  background: rgb(255, 255, 255);
  box-shadow: 10px 10px 19px 4px rgba(0, 0, 0, 0.47);
  border-radius: 5px;
  overflow-y: scroll;
}
